
#container {
  width: 960px;
  margin: 0 auto;
}

.landing-section {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.landing-section h1 {
  font-size: 24px;
  font-weight: 900;
  font-family: 'Open Sans';
  color: white;
  margin-left: 100px;
  padding-top: 40px;
  margin-top: 0;
}

.landing-section p {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Open Sans';
  color: white;
  margin-top: 100px;
}

#button-header {
  border-radius: 5px;
  border: none;
  color: #033048;
  padding: 15px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  background-color: #f9e42e;
  margin-left: 400px;
  margin-top: 80px;
  font-family: 'Open Sans';
}

.benefits h1 {
  font-weight: 600;
  font-family: 'Open Sans';
  font-size: 20px;
  color: #033048;
  margin-left: 100px;
  margin-top: 40px;
}

.benefits li {
  margin-top: 20px;
}

.benefits p,ul {
  color: #033048;
  font-weight: 100;
  font-size: 13px;
  font-family: 'Open Sans';
  margin-left: 100px;
}

.benefits ul {
  margin-left: 100px;
  list-style-type: disc;
}

.citation {
  background-image: url(../images/testimonial_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color: white;
  font-style: italic;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  padding-top: 100px;
  width: 100%;
}

#button-footer {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  background-color: #033048;
  margin-left: 500px;
  margin-top: 30px;
}
.second-button {
  background: #f9e42e;
  height: 100px;
  margin-top: 0;
}

footer {
  background-color: #121212;
  height: 500px;
  color: white;
  text-align: center;
}
footer h4 {
  margin-top: 0;
}
